*{margin: 0;padding: 0%;}
body{
    color: black;
    background-color: white;
}
a{content: none;}
kbd{
    border: 1px solid red;
    display: inline-block;
    width: 5em;
    height: 5em;
    text-transform: uppercase;
    position: relative;
    
}
kbd > button {
    position: absolute;
    display: none;
}
kbd:hover > button{
    display: inline-block;
}
main{
    text-align: center;
}
#keyN{
    display: inline-block;
}
#keyN > div{
    margin: 2em;
}